.header {

    background: var(--second-dark-shade);
    padding: 10px 1%;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: var(--main-color);
    a{color: var(--main-color);}
    user-select: none;

    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        font-size: 40px;
        font-weight: 700;
    }
    &-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-links {
        font-size: 23px;
        font-weight: 600;
        margin-right: 20px;
        & a{
            margin-right: 20px;
            padding: 0 0 2px 0;
            position: relative;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: .5s;
            transition-property: color;
        }

        & a:hover, a:focus{
            color: var(--second-color);
        }
        & a:focus::after, & a:hover::after{
            width: 100%;
            left: 0%;
        }
        & a::after{
            content: "";
            pointer-events: none;
            position: absolute;
            left: 50%; right: 0; bottom: -2px;  
            width: 0%;
            height: 2px;
            background: var(--second-color);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: .5s;
            transition-property: width, left;
        }
    }
    &-icons {
        cursor: pointer;
        & span:hover svg path{
            transition: .5s;
            stroke: var(--main-color);
        }
    }    

    
    // burger-menu
    .open{display: flex !important;}
    &-burger {

        display: none;
        position: relative;
        z-index: 10;
        align-items: center;
        justify-content: flex-end;
        width: 28px;
        height: 20px;

        & span{
            height: 2px;
            width: 80%;
            border-radius: 50px;
            transform: scale(1);
            background: var(--second-color); 
            align-self: center;

        }        
        &::before, &::after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 50px;
            background: var(--second-color);
            transition: all 0.3s ease 0s;
        }       
        &::before {top: 0;}
        &::after {bottom: 0;}

        // animation of active(click)
        &.active span {
            transform: scale(0);
        }
        &.active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }
        &.active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
        }
    }
}